* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
}

input,
button,
select {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 8px !important;
  border-bottom: 1px solid #ddd;
}
nav .logo {
  margin-left: 50px;
}
nav .logo img {
  width: 70px;
}
nav ul {
  margin: 0 !important;
}
nav .nav__links,
nav .btn-links {
  display: none;
}

@media (min-width: 601px) {
  nav {
    padding: 10px 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  nav ul.btn-links {
    display: block;
    width: 75%;
  }
  nav ul.btn-links li {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  nav ul.btn-links li a.well-study {
    width: 190px;
    background-color: #168ecd;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin-left: 100px;
  }
  nav ul.btn-links li a.login {
    color: #168ecd;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  nav {
    padding: 10px 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  nav .nav__links {
    display: flex;
  }
  nav .nav__links li {
    padding: 0 10px;
  }
  nav .nav__links a {
    color: #168ecd;
  }
  nav ul.btn-links {
    display: block;
    width: 42%;
  }
  nav ul.btn-links li {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  nav ul.btn-links li a.well-study {
    width: 190px;
    background-color: #168ecd;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin-left: 100px;
  }
  nav ul.btn-links li a.login {
    color: #168ecd;
    font-weight: bold;
  }
  main .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-align: end;
  }
  main .hero .about {
    padding: 30px;
    width: 60%;
  }
  main .hero .about ul.btn-links li a {
    display: inline-block;
    margin: 20px;
  }
}
footer {
  background-color: #f3f2f7;
  direction: rtl;
  padding: 20px;
}
footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .logo a img {
  width: 100px;
}
footer .links {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
footer .links a {
  font-size: 10px;
  color: #8d8e91;
}
footer .social p {
  font-size: 0.9rem;
  text-align: center;
}
footer .social .solial__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social .solial__links a {
  background-color: #8f8e93;
  margin: 0 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social .solial__links a svg {
  font-size: 1.5rem;
}
footer .flateform-app {
  display: none;
}

@media (min-width: 992px) {
  footer .container {
    display: flex;
    justify-content: space-between;
  }
  footer .container .flateform-app {
    display: block;
  }
  footer .container .flateform-app h6 {
    text-align: center;
  }
  footer .container .flateform-app ul li {
    margin: 10px 0;
  }
}
main .hero {
  padding: 80px 30px 20px 30px;
  text-align: center;
}
main .hero .about .what-is {
  color: #8d8e91;
  margin-bottom: 30px;
}
main .hero .about .about__info {
  font-size: 1.7rem;
}
main .hero .about ul.btn-links li a {
  display: block;
  margin: 20px auto;
}
main .hero .about ul.btn-links li a.well-study {
  width: 150px;
  background-color: #168ecd;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}
main .hero .about ul.btn-links li a.login {
  color: #168ecd;
  font-weight: bold;
}
main .hero .img img {
  width: 100%;
}
main .slider {
  padding: 20px;
  background-color: #168ecd;
}
main .slider .carousel.slide .carousel-inner .carousel-item img {
  width: 100%;
}
main .slider .carousel.slide .carousel-inner .carousel-item .carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  direction: rtl;
  text-align: center;
  margin: auto;
}
main .study {
  padding: 20px;
  direction: rtl;
}
main .study .img img {
  width: 100%;
}
main .study .text {
  padding: 10px;
}
main .study .text .heading {
  text-align: center;
}
main .study .text h5 {
  font-size: 1.8rem;
  font-weight: block;
}
main .study .text ol {
  margin-top: 10px;
}
main .study .text ol li {
  color: #8d8e91;
}
main .study .study__btn {
  margin-top: 10px;
}
main .study .study__btn a {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  width: 200px;
}
main .study .study__btn .study__go--btn {
  background-color: #168ecd;
  color: #fff;
  padding: 15px;
  border-radius: 25px;
}
main .study .study__btn .syudy__complate--btn {
  color: #168ecd;
  border: 2px solid #168ecd;
  padding: 15px;
  border-radius: 25px;
}
main .plateform-app {
  padding: 20px;
  direction: rtl;
  text-align: center;
}
main .plateform-app .plateform__app--links h5 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6;
}
main .plateform-app .plateform__app--links ol {
  text-align: start;
  padding: 20px;
}
main .plateform-app .plateform__app--links .app-links a {
  display: block;
  margin: 10px 0;
}
main .plateform-app .img {
  margin-top: 20px;
}
main .plateform-app .img img {
  width: 100%;
}
main .subscription {
  margin: 50px 0;
}
main .subscription .heading {
  text-align: center;
}
main .subscription .heading p span {
  color: #168ecd;
}
main .subscription .heading .text {
  color: #8d8e91;
  font-size: 10px;
}
main .subscription form {
  padding: 20px;
}
main .subscription form select {
  display: block;
  border: 1px solid #ddd;
  margin: 10px auto;
  border: 1px solid #168ecd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  direction: rtl;
}
main .subscription .sections-study {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
main .subscription .sections-study .item {
  margin: 10px 20px 10px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #8d8e91;
}
main .subscription .sections-study .item h6 {
  font-size: 1rem;
  font-weight: bold;
}
main .subscription .subscription-btn a {
  display: block;
  background-color: #168ecd;
  color: #fff;
  width: 250px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  opacity: 0.6;
}

@media (min-width: 576px) {
  main .subscription form {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  main .subscription form select {
    display: inline-block;
    width: calc((100% - 30px) / 3);
  }
  main .subscription .sections-study .item {
    padding: 50px;
  }
}
@media (min-width: 601px) {
  main .study {
    margin-top: 60px;
    display: flex;
  }
  main .study .study__btn a {
    display: inline-block;
  }
  main .plateform-app .plateform__app--links .app-links a {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  main .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-align: end;
  }
  main .hero .about {
    padding: 30px;
    width: 60%;
  }
  main .hero .about ul.btn-links li a {
    display: inline-block;
    margin: 20px;
  }
  main .plateform-app {
    display: flex;
    align-items: center;
  }
  main .plateform-app .plateform__app--links {
    text-align: start;
  }
  main .plateform-app .plateform__app--links .app-links a {
    display: inline-block;
  }
  main .subscription {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
  }
  main .subscription form {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .subscription form select {
    display: inline-block;
    width: 200px;
    margin: 0 20px;
  }
}/*# sourceMappingURL=main.css.map */